.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

.ReactModal__Overlay .ReactModal__Content {
  position: absolute;
  width: 350px;
  height: 75%;
  left: 50%;
  top: 47%;
  border-radius: 25px;
  transform: translate(-50%, -50%);
  background: var(--app-primary-white);
}

@media (min-width: 768px) {
  .ReactModal__Overlay .ReactModal__Content {
    width: 540px;
    height: 550px;
    top: 44%;
  }
}
